<!-- Loop over all users -->
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}

<!-- Loop over all articles -->
<div class="gap-2 flex flex-wrap">
  {{#each articleDataFormatted as |articleItem|}}
  <a href="/articles/{{articleItem.id}}"
    class="card min-w-[49%] max-w-[49%] h-fit max-h-[38%] border-none bg-grey-800 shadow-2xl overflow-hidden">
    <h1 class="card-title bg-gray-200 px-8 pt-3 pb-3 rounded-t-2xl">{{articleItem.title}}</h1>
    <div class="pl-8 text-xs">{{format_date_time articleItem.createdAt}}</div>
    <div class="card-body pt-3">
      <div class="gap-2 rounded-2xl text-black bg-transparent w-fit flex flex-wrap flex-col">
        <button class='badge badge-neutral font-bold text-sm'>{{articleItem.user.alias}}</button>
        <div class="overflow-hidden max-h-64">
          {{{articleItem.content}}}
        </div>
      </div>
    </div>
  </a>
  {{/each}}
</div>